<% provide :title, t(".about_title") %>
<h1><%= t ".about_title" %></h1>
<p>
  <%= t ".about_description_title" %>
  <ul>
    <li>
      <%= link_to t("ruby_on_rails_tutorial"), Settings.link.home %>
    </li>
    <li>
      <%= t ".about_description_tutorial" %>
      <%= link_to t(".learn_enough"), Settings.link.learn_enough %>
    </li>
    <li>
      <%= t ".about_description_book" %>
      <%= link_to t(".book"), Settings.link.book %>
    </li>
    <li>
      <%= t ".about_description_series" %>
      <%= link_to t(".screencast_series"), Settings.link.screencast %>
    </li>
    <li>
      <%= t ".about_description_ror" %>
      <%= link_to t(".ruby_on_rails"), Settings.link.ruby_on_rails %>
    </li>
  </ul>
  <%= t ".about_description_end" %>
</p>

<%= link_to t("static_pages.home.home"), root_path(locale) %>
