<h1><%= t ".title" %></h1>
<p><%= t ".greeting" %> <%= @user.name %>,</p>
<p>
  <%= t ".detail" %>
</p>
<%= link_to t("link"),
  edit_account_activation_url(locale: I18n.locale, id: @user.activation_token, email: @user.email) %>
