<h1><%= t ".title" %></h1>
<p><%= t ".headline" %></p>
<%= link_to t(".title"), edit_password_reset_url(locale: I18n.locale, id: @user.reset_token, email: @user.email) %>
<p><%= t ".warning" %></p>
<p><%= t ".endline" %></p>
